body {
  font-family: "Roboto", sans-serif;
  background-color: #a8d0e6;
}
.navbar {
  background-color: #24305e !important;
}
.c1 {
  font-size: 4rem;
  padding-top: 5%;
}

#clients {
  padding: 30px 0 60px;
}

#clients .owl-carousel .owl-item {
  margin-right: 10px;
}

#clients .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

#footer {
  background: #fff;
  /* padding: 0 0 30px 0; */
  color: #fff;
  font-size: 14px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*footer*/

#footer .footer-top {
  background: #374785;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ffebeb;
}

#footer .footer-top h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
  float: right;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ffebeb;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}
